<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;

        }
        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;

        }
        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
            background-color: white;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        // https://jqueryui.com/autocomplete/#combobox
        $( function() {
            $.widget( "custom.combobox", {
                _create: function() {
                    this.wrapper = $( "<span>" )
                        .addClass( "custom-combobox" )
                        .insertAfter( this.element );

                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },

                _createAutocomplete: function() {
                    var selected = this.element.children( ":selected" ),
                        value = selected.val() ? selected.text() : "";

                    this.input = $( "<input>" )
                        .appendTo( this.wrapper )
                        .val( value )
                        .attr( "title", "" )
                        .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                        .autocomplete({
                            delay: 0,
                            minLength: 0,
                            source: $.proxy( this, "_source" )
                        })
                        .tooltip({
                            classes: {
                                "ui-tooltip": "ui-state-highlight"
                            }
                        });

                    this._on( this.input, {
                        autocompleteselect: function( event, ui ) {
                            ui.item.option.selected = true;
                            this._trigger( "select", event, {
                                item: ui.item.option
                            });
                        },

                        autocompletechange: "_removeIfInvalid"
                    });
                },

                _createShowAllButton: function() {
                    var input = this.input,
                        wasOpen = false;

                    $( "<a>" )
                        .attr( "tabIndex", -1 )
                        .attr( "title", "Show All Items" )
                        .tooltip()
                        .appendTo( this.wrapper )
                        .button({
                            icons: {
                                primary: "ui-icon-triangle-1-s"
                            },
                            text: false
                        })
                        .removeClass( "ui-corner-all" )
                        .addClass( "custom-combobox-toggle ui-corner-right" )
                        .on( "mousedown", function() {
                            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                        })
                        .on( "click", function() {
                            input.trigger( "focus" );

                            // Close if already visible
                            if ( wasOpen ) {
                                return;
                            }

                            // Pass empty string as value to search for, displaying all results
                            input.autocomplete( "search", "" );
                        });
                },

                _source: function( request, response ) {
                    var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                    response( this.element.children( "option" ).map(function() {
                        var text = $( this ).text();
                        if ( this.value && ( !request.term || matcher.test(text) ) )
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
                    }) );
                },

                _removeIfInvalid: function( event, ui ) {

                    // Selected an item, nothing to do
                    if ( ui.item ) {
                        return;
                    }

                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                        valueLowerCase = value.toLowerCase(),
                        valid = false;
                    this.element.children( "option" ).each(function() {
                        if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                            this.selected = valid = true;
                            return false;
                        }
                    });

                    // Found a match, nothing to do
                    if ( valid ) {
                        return;
                    }

                    // Remove invalid value
                    this.input
                        .val( "" )
                        .attr( "title", value + " didn't match any item" )
                        .tooltip( "open" );
                    this.element.val( "" );
                    this._delay(function() {
                        this.input.tooltip( "close" ).attr( "title", "" );
                    }, 2500 );
                    this.input.autocomplete( "instance" ).term = "";
                },

                _destroy: function() {
                    this.wrapper.remove();
                    this.element.show();
                }
            });

            $( "#combobox" ).combobox();
            $( "#toggle" ).on( "click", function() {
                $( "#combobox" ).toggle();
            });
        } );
    </script>
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="form-validation.css" rel="stylesheet">
</head>


<body class="bg-light">
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <main>
        <div class="py-5 text-center">
            <h2>Регистрация</h2>
         </div>

        <div class="row row-cols-1" >
            <div class="col-lg-6 col-md-7 col-sm-8">
                <h4 class="mb-3">Обязательная информация</h4>
                <hr>

                <form th:action="@{createUser}" th:object="${newUser}" method="POST" class="align-content-center">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="col">
                        <label for="firstName" class="form-label">Имя</label>
                        <input th:field="${newUser.userProfile.firstName}" type="text" class="form-control" id="firstName" placeholder="Иван" required="required">
                        <div class="invalid-feedback">
                            Пожалуйста, введите имя.
                        </div>
                    </div>

                    <div class="col my-3">
                        <label for="lastName" class="form-label">Фамилия</label>
                        <input th:field="${newUser.userProfile.lastName}" type="text" class="form-control" id="lastName" placeholder="Иванов" value="" required="required">
                        <div class="invalid-feedback">
                            Пожалуйста, введите фамилию.
                        </div>
                    </div>

                    <div class="col my-3">
                        <label for="email" class="form-label">Адрес электронной почты</label>
                        <input th:field="${newUser.email}" type="email" class="form-control" id="email" placeholder="email@example.com" required="required">
                        <div class="invalid-feedback">
                            Пожалуйста, введите существующий адрес электронной почты
                        </div>
                    </div>

                    <div class="col my-3">
                        <label class="form-check-label mb-1" for="gender">Пол</label>
                        <div id="gender">
                            <div class="form-check form-check-inline">
                                <input th:field="${newUser.userProfile.gender}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="man" checked="checked">
                                <label class="form-check-label" for="inlineRadio1">Мужчина</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input th:field="${newUser.userProfile.gender}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="wom">
                                <label class="form-check-label" for="inlineRadio2">Женщина</label>
                            </div>
                        </div>
                    </div>

                    <div class="col my-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input th:field="${newUser.password}" type="password" class="form-control" id="password" placeholder="" value="" required="required">
                        <div class="invalid-feedback">
                            Пожалуйста, придумайте другой пароль.
                        </div>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Ваш пароль должен содержать от 8 до 20 символов.
                        </small>
                    </div>

                    <div class="col my-3">
                        <label for="passwordRepeat" class="form-label">Введите пароль ещё раз</label>
                        <input type="password" class="form-control" id="passwordRepeat" placeholder="" value="" required>
                        <div class="invalid-feedback">  
                            Пароли не совпадают.
                        </div>
                    </div>

                    <h4 class="mt-5 my-3">Информация о профиле</h4>
                    <hr>

                    <div th:field="${newUser.userProfile.country}" th:replace="fragments/countries :: countries"></div>

                    <div class="col my-3">
                        <label for="city" class="form-label">Город</label>
                        <input th:field="${newUser.userProfile.city}" type="text" class="form-control" id="city" placeholder="" value="">
                        <div class="invalid-feedback">
                            Что-то пошло не так...
                        </div>
                    </div>

                    <div class="col my-3">
                        <label for="macID" class="form-label">MAC ID</label>
                        <input th:field="${newUser.userProfile.macId}" type="text" class="form-control" id="macID" placeholder="" value="">
                        <div class="invalid-feedback">
                            Пожалуйста, проверьте правильность введённого ID.
                        </div>
                    </div>


                    <div class="col my-3">
                        <label for="social" class="col-form-label">Социальные сети</label>
                        <div class="input-group my-1" id="social">
                            <div class="input-group-prepend">
                                <span class="input-group-text">vk.com/</span>
                                <!-- TODO svg- icons <img src="/static/pictures/icons/square-fill.svg" class="input-group-text"> !-->
                            </div>

                            <input th:field="${newUser.userProfile.vkLink}" type="text" class="form-control" id="vk" placeholder="vkID">
                            <div class="invalid-feedback" style="width: 100%;">
                                Пожалуйста ,проверьте правильность введённого ID.
                            </div>
                        </div>

                        <div class="input-group my-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">tg.me/</span>
                            </div>
                            <input th:field="${newUser.userProfile.tgLink}" type="text" class="form-control" id="tg" placeholder="tgID">
                            <div class="invalid-feedback" style="width: 100%;">
                                Пожалуйста ,проверьте правильность введённого ID.
                            </div>
                        </div>

                        <div class="input-group my-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">facebook.com/</span>
                            </div>
                            <input th:field="${newUser.userProfile.fbLink}" type="text" class="form-control" id="fb" placeholder="fbID">
                            <div class="invalid-feedback" style="width: 100%;">
                                Пожалуйста ,проверьте правильность введённого ID.
                            </div>
                        </div>
                        <div class="input-group my-1 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">twitter.com/</span>
                            </div>
                            <input th:field="${newUser.userProfile.twLink}" type="text" class="form-control" id="tw" placeholder="twID">
                            <div class="invalid-feedback" style="width: 100%;">
                                Пожалуйста, проверьте правильность введённого ID.
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>

</html>